body {
  font-family: 'PressStart2P', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative; 
}

div.room-settings-container{
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/estacion.png);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

div.settings{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}

div.form-group {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    align-items: center; 
    gap: 15px; 
    margin: 15px 0; 
}

div.form-group label {
    text-align: right; 
}

input.room-id{
    font-family: 'PressStart2P', sans-serif;
    padding: 8px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 0.8em;
    width: 40%;
    margin: 0 10px;
}

input.room-id,
input.room-name,
input.room-time,
select {
    font-family: 'PressStart2P', sans-serif;
    padding: 8px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 0.8em;
    width: 100%;
    margin: 0;
    box-sizing: border-box; 
}

button.back-button {
  position: absolute;
  top: 35px;
  left: 0; 
  transform: translateY(-60%);
  font-size: 1.5em; 
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button.submit{
  font-family: 'PressStart2P', sans-serif;
  padding: 8px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 0.8em;
  cursor: pointer;
}

div.settings h2 {
  margin-top: 0;
  line-height: 1.5;
  margin-bottom: 15px; 
}