body {
  font-family: 'PressStart2P', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative; 
}

div.stats-background { 
    background-image: url('../img/estacion.png'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw; 
    overflow: hidden;
    position: relative; 
}

.centra-console-panel { 
    overflow: visible;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translateX(-50%); 
    bottom: 5vh; 
    width: 60%; 
    height: 10%;
    perspective: 1000px; 
    perspective-origin: center top; 
}

div.stats-container.hologram { 
  background-color: transparent; 
  color: #00FF41; 
  width: 100%; 
  max-width: none;
  height: 50vh; 
  max-height: 500px; 
  overflow-y: none; 
  box-sizing: border-box; 
  padding: 20px; 
  text-align: center;
  border: none; 
  box-shadow: none; 
  border-radius: 0;
  position: absolute; 
  bottom: 100%; 
  left: 50%;
  transform: translateX(-50%) rotateX(-25deg); 
  transform-origin: center bottom; 
  outline: 1px solid rgba(0, 255, 65, 0.6); 
  outline-offset: 5px; 
  filter: drop-shadow(0 0 15px rgba(0, 255, 65, 0.8)) 
          drop-shadow(0 0 30px rgba(0, 255, 65, 0.4)); 
  opacity: 0.9; 
  background-image: linear-gradient(
    rgba(0, 255, 65, 0.05) 1px, 
    transparent 1px
  ), linear-gradient(
    90deg, rgba(0, 255, 65, 0.05) 1px, 
    transparent 1px
  );
  background-size: 5px 5px; 
}

.hologram p,
.hologram h2 {
    color: #00FF41;
    text-shadow: 0 0 5px #00FF41;
    margin-bottom: 15px; 
    font-size: 1.1em; 
}
.hologram .back-button {
    color: #00FF41;    
    text-shadow: 0 0 5px #00FF41;             
    padding: 8px 10px; 
    border-radius: 0;
    transition: all 0.1s;
    font-size: 0.9em; 
    margin-bottom: 0; 
}

div.stats-container.hologram {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #00FF41 rgba(0, 255, 65, 0.1);
}

div.stats-container.hologram::-webkit-scrollbar {
  width: 8px;
}
div.stats-container.hologram::-webkit-scrollbar-track {
  background: rgba(0, 255, 65, 0.1);
}
div.stats-container.hologram::-webkit-scrollbar-thumb {
  background-color: #00FF41;
  border-radius: 4px;
}