body {
  font-family: 'PressStart2P', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative; 
}

div.selection-background{
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/estacion.png);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

div.room-selection-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  text-align: center;
  padding: 20px;
}
