main {
  height: 100vh;
  width: 100vw;
  display: flex; /* Make main a flex container */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.joc {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b0d7ff;
}

.game-content-wrapper {
  display: flex;
  gap: 20px; /* Spacing between elements */
  align-items: flex-start; /* Align items to the top */
}

.paraules-previstes {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff022;
  padding: 10px;
}

.paraules-previstes .paraula.active-word {
  font-weight: bold;
  color: blue; /* Ejemplo de estilo para la palabra activa */
}

.paraula-actual {
    background-color: #9dff9d;
    padding: 20px;
}

.paraula-actual h1 {
  font-size: 2rem;
  color: #007baf;
}

.paraula-actual input {
  font-size: 1.5rem;
  padding: 5px;
}

.puntuacions {
  width: 350px;
  background-color: #ff5c5c;
  padding: 20px;
}

.puntuacions h2 {
  margin-top: 0;
}

#llista-jugadors {
  list-style: none;
  padding: 0;
  background-color: #5badff;
}