div.room-settings-container {
  max-width: 700px; /* Allow more width for form */
}

.form-group {
  margin: 1.5em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-group label {
  flex-basis: 40%; /* Adjust label width */
  text-align: left;
  margin-right: 1em;
}

div.form-group {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    align-items: center; 
    gap: 15px; 
    margin: 15px 0; 
}

div.form-group label {
    text-align: right; 
}

input.room-id{
    font-family: 'PressStart2P', sans-serif;
    padding: 8px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 0.8em;
    width: 40%;
    margin: 0 10px;
}

input.room-id,
input.room-name,
input.room-time,
select {
    font-family: 'PressStart2P', sans-serif;
    padding: 8px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 0.8em;
    width: 100%;
    margin: 0;
    box-sizing: border-box; 
}

button.back-button {
  position: absolute;
  top: 35px;
  left: 0; 
  transform: translateY(-60%);
  font-size: 1.5em; 
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button.submit{
  font-family: 'PressStart2P', sans-serif;
  padding: 8px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 0.8em;
  cursor: pointer;
}

div.settings h2 {
  margin-top: 0;
  line-height: 1.5;
  margin-bottom: 15px; 
}