html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

div.login-background { 
    background-image: url('../img/estacion.png'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw; 
    overflow: hidden;
    position: relative; 
}

.centra-console-panel { 
    overflow: visible;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translateX(-50%); 
    bottom: 5vh; 
    width: 60%; 
    height: 10%;
    perspective: 1000px; 
    perspective-origin: center top; 
}


div.login-container.hologram { 
  background-color: transparent; 
  color: #00FF41; 
  width: 100%; 
  max-width: none;
  height: 50vh; 
  max-height: 500px; 
  overflow-y: none; 
  box-sizing: border-box; 
  padding: 20px; 
  text-align: center;
  border: none; 
  box-shadow: none; 
  border-radius: 0;
  position: absolute; 
  bottom: 100%; 
  left: 50%;
  transform: translateX(-50%) rotateX(-25deg); 
  transform-origin: center bottom; 
  outline: 1px solid rgba(0, 255, 65, 0.6); 
  outline-offset: 5px; 
  filter: drop-shadow(0 0 15px rgba(0, 255, 65, 0.8)) 
          drop-shadow(0 0 30px rgba(0, 255, 65, 0.4)); 
  opacity: 0.9; 
  background-image: linear-gradient(
    rgba(0, 255, 65, 0.05) 1px, 
    transparent 1px
  ), linear-gradient(
    90deg, rgba(0, 255, 65, 0.05) 1px, 
    transparent 1px
  );
  background-size: 5px 5px; 
}

.hologram-button-group {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    margin-top: 10px; 
    margin-bottom: 5px; 
}


.hologram p,
.hologram h2 {
    color: #00FF41;
    text-shadow: 0 0 5px #00FF41;
    margin-bottom: 15px; 
    font-size: 1.1em; 
}

.hologram input[type="email"],
.hologram input[type="password"],
.hologram input[type="text"] {
  width: 90%;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 255, 65, 0.8);
  color: #00FF41; 
  padding: 8px; 
  margin-bottom: 10px; 
  font-size: 1em;
  border-radius: 0;
  text-shadow: 0 0 5px #00FF41; 
}

.hologram input::placeholder {
    color: rgba(0, 255, 65, 0.5); 
    text-shadow: none;
}


.hologram .btn {
  background-color: rgba(0, 0, 0, 0.3);
  color: #00FF41;               
  border: 2px solid #00FF41;    
  padding: 8px 10px; 
  border-radius: 0;
  transition: all 0.1s;
  font-size: 0.9em; 
  margin-bottom: 0; 
  width: 45%; 
}

.hologram .btn:hover {
  background-color: #00FF41; 
  color: #000000;
  box-shadow: 0 0 15px #00FF41; 
}

.hologram a {
    color: #4DFF66; 
    text-decoration: none;
    border-bottom: 1px dashed #4DFF66;
    padding-bottom: 2px;
    font-size: 0.9em; 
}
.hologram a:hover {
    color: #00FF41;
    border-bottom: 1px solid #00FF41;
}

.hologram-slide-leave-active {
  transition: all 0.5s cubic-bezier(0.5, 0, 0.5, 1); 
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hologram-slide-leave-to .login-container.hologram,
.hologram-slide-leave-to .login-container.hologram { /* Ambos componentes usan esta misma estructura */
  opacity: 0;
  transform: translateX(-50%) rotateX(15deg) translateY(100%); 
}





.hologram-slide-enter-from .login-container.hologram,
.hologram-slide-enter-from .login-container.hologram { 
  opacity: 0;

  transform: translateX(-50%) rotateX(15deg) translateY(100%); 
}


.hologram-slide-enter-active {
 
  transition: all 0.5s cubic-bezier(0.5, 0, 0.5, 1);
}