body {
  font-family: 'PressStart2P', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative; 
}

div.room-settings-container{
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/estacion.jpg);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

div.settings{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}

div.form-group{
    margin: 15px 0;
}

input.room-id{
    font-family: 'PressStart2P', sans-serif;
    padding: 8px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 0.8em;
    width: 40%;
    margin: 0 10px;
}

input.room-name{
    font-family: 'PressStart2P', sans-serif;
    padding: 8px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 0.8em;
    width: 40%;
    margin: 0 10px;
}

input.room-time{
    font-family: 'PressStart2P', sans-serif;
    padding: 8px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 0.8em;
    width: 12%;
    margin: 0 10px;
}

select{
    font-family: 'PressStart2P', sans-serif;
    padding: 8px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 0.8em;
    width: 20%;
    margin: 0 10px;
}

button.back-button {
  position: absolute;
  top: 2px;
  left: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button.submit{
  font-family: 'PressStart2P', sans-serif;
  padding: 8px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 0.8em;
  cursor: pointer;
}
